# Dependencies
node_modules/
.venv/
__pycache__/

# Build outputs
dist/
dist-ssr/
*.local

# Environment & Private files
.env
.env.*
!.env.example
RR@.xlsx
debet.db
database.db

# IDE & Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
Desktop.ini
.DS_Store
